/* Bootstrap colors */
:root {
  --primary: #222831;
  --secondary: #393E46;
  --txtcontact: rgb(150, 150, 150);
  --headers: #FFD369;
  --white: #EEEEEE;
  --text_color: white;  /* Main color */  
  --text_swap : red;  /* Interaction color */
  }

.main-section {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: flex-start;
}

.left-side-manual {
  width: 250px; 
  height: 100%;
  position: sticky;
  top: 160px;
  border-radius: 8px;
  padding-right: 15px 0px 15px 30px;
}

.left-side-manual ul {
  list-style: none;
  margin-top: 50px;
  text-decoration: none;
}

.left-side-manual ul li{
  padding: 10px 0px;
  margin-top: 10px;
}

.left-side-manual ul li a{
  text-decoration: none;
  color: var(--text_color);
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  transition: .3s linear;
  padding: 10px;
}

.left-side-manual ul li a:hover{
  transform: scale(1.2);
  color: var(--text_swap);
}

.left-side-manual ul li a i{
  margin-right: 10px;
  font-size: 20px;
}

.left-side-manual ul li:nth-child(6){
  border-right: 3px solid var(--text_swap);
}

.left-side-manual ul li:nth-child(6) a {
  color: var(--text_swap);
}

.right-side-manual {
  min-width: 160px;   
  max-width: 350px;
  position: sticky;
  top: 100px;
}